
h2{
  width: 80%;
  margin: auto;
  padding: 20px;
  text-align: center;
  font-size: 3vw;
  background: #000000; /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #000000 , #434343); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #000000 , #434343); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  color: white;
}

.right-text{
  width: 65%;
}

h4{

  font-size: 2.2vw;
  padding: 20px;
}
p{
  padding: 20px;
}

.bottom{
  height: 50px
}
