.table-of-contents{
    color: white;
    width: 30%;
    border-right: 2px solid black;
}


.red{
  background: #f84b4b;
}

.blue{
  background: #131b57
}

.orange{
  background: #fabd4d;
}

.purple{
  background: #591859;
}

.bright{
  color: black
}

.white{
  background: white;
}

.subset{
  width: 65%;
  margin: 0;
  margin-left: 30px;
  border-style: double;
  border-top-width: 1px;
  border-color: black;
  padding: 20px;
}

li > a{
  color: white;
  padding: 10px;
  width: 80%;
  margin: 20px;
}

li{
  margin: 10px 10px 0px 10px;
  padding: 20px;
}

.support{
  display: inline-flex;
}

.main{
  width: 100%;
  display: inline-flex;
}

.links{
  padding-bottom: 15px;
}


li.chapter.yellow{
  background: #16A085; /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #16A085 , #F4D03F); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #16A085 , #F4D03F); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

li.chapter.green{
  background: #16A085; /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #16A085, #3d8ff4); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #16A085, #3d8ff4); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.main-button{
  border: 3px solid black;
}
