.table-of-contents{
    background: black;
    color: white;
    width: 30%;
}

.yellow{
  background: #ffff6f;
  color: black;
}

.green{
  background: #134f13;
}

.red{
  background: #f84b4b;
}

.blue{
  background: #131b57
}

.orange{
  background: #fabd4d;
}

.purple{
  background: #591859;
}

.bright{
  color: black
}

.white{
  background: white;
}

.subset{
  width: 65%;
  margin: 0;
  margin-left: 30px;
  border-style: double;
  border-top-width: 1px;
  border-color: black;
  padding: 20px;
}

li > a{
  color: white;
  padding: 10px;
  width: 80%;
  margin: 20px;
}

li{
  margin: 40px 10px 0px 10px;
  padding: 20px;
}


.main{
  width: 100%;
  display: inline-flex;
}
