html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font-family: sans-serif;
	font: inherit;
	vertical-align: baseline;
  text-decoration: none;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height:140%;
	font-family: sans-serif;
}



*{
	font-family: sans-serif;
}

li.chapter{
	font-size:18px;
}

h5{
	width: 80%;
	margin: auto;
	font-size: 24px;
	font-weight: bold;
	}

ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

h2{
  width: 80%;
  margin: auto;
  padding: 20px;
  text-align: center;
  font-size: 3vw;
	color: white;
}

.right-text{
  width: 65%;
}

h4{
	background: whitesmoke;
  font-size: 2.2vw;
  padding: 20px;
}


p{
  padding: 20px;
	font-size: 20px;

}

.visual.learners{
	padding: 20px;
	margin: auto;
	width: 50%
}

.Sources{
	color: blue;
}

.italics{font-style: italic;
    font-size: 14px;
    color: slategrey;
}


p, h4, ul{
	padding: 20px;
	width: 80%;
	margin: auto;
}

.quiz > li{
  padding: 4px;

}

.document{
  padding: 20px;
  font-size: 30px;
  font-weight: bold;
  cursor: pointer;
}

img{
	padding: 10px;
	height: 300px;

}
li.Chapter{
  color: white;
}
